* {
  box-sizing: border-box;
}
body {
    background-color: darkblue;
    color: white;
}
h1{
    text-align: center;
}
.video{
    text-align: center;
            }
p{
    text-align: center;
    font-size: 30px;
}
#p{
    font-size: 30px;
}
iframe{
    background-color: white;
}
a{
    color: yellow;
}
.size{
  font-size: 30px;
}
h2{
  font-size: 35px;
  text-decoration: underline;
}
table, th, td{
  border: 2px solid white;
  width: 50%;

}
.center{
  margin-left: auto;
  margin-right: auto;
}
#yellow {
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
  background-color: yellow;
  color: purple;

}
td{
  text-align: center;
  font-size: 30px;
}
#h{
  color: yellow;

}

h3 {
  color: purple;
  font-size: 25px;

}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  padding-top: 5px;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 10px 4px 8px 0 rgba(255, 25, 33, 0.6);
  padding: 16px;
  padding-top: -2px;
  text-align: center;
  background-color: #f1f1f1;
}
img {
  width: 400px;
}
.textcard {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px #FF0000;
}
